<% include header %>

<h2>Add a new food!</h2>

<form method= "post" role= "form">
	<div class= "form-group">
		<label for= "title">Food name</label>
		<input type= "text" class= "form-control" id= "title" name= "title" placeholder= "Enter food name here!" required>
	</div>
	<div class= "form-group">
		<input type="submit" value= "Post food" class= "btn btn-primary">
	</div>
</form>


<% include footer %>