<% include header %>

    <div class = "form-group">
		<form name = "signUpForm" action = "sign-up" method = "post" class = "form-group">
			<label for = "Username">Username</label></br>
			<input name = "username" placeholder = "Create Username" class = "form-row" width = "200"></br></br>
			<label for = "password">Password</label><br>
			<input type ="password" name = "password" placeholder = "Create password" class = "form-row" width = "200"></br></br>
			<input type = "submit" id = "sign Up" class = "btn btn-primary" value= "Sign Up">

            <a href="/login">Already have an account?</a>

		</form>
	</div>

<% include footer %>
